<h1>Prepare for battle!</h1>
<form action="/names" method="post">
    <input id="player1" type="text" name="player1">
    <input id="player2" type="text" name="player2">
    <input id="Submit" type="submit" value="Submit">
  </form>
